.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 0px 15px;

    &-white{
        .nav__item, .contacts__phone, .contacts__btn{
            transition: all .7s linear;
            color: white !important;
        }
    }
    
    .navigation__content {
        max-width: 1640px;
        margin: 0 auto;
        padding: 20px 0px;
        // mix-blend-mode: difference;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content__info {
            display: flex;
            align-items: center;

            .info__logo {
                cursor: pointer;
            }
            .info__nav {
                .nav__item{
                    margin-left: 64px;
                    @include text($grey,16px,300);
                    transition: color .7s linear;
                   
                    &-active{
                        color: $yellow_1 !important;
                    }
                    @media screen and (max-width: 1300px){
                        margin-left: 34px;
                    }
                }
            }
        }
        
        .content__contacts {
            display: flex;
            align-items: center;
            .contacts__block{
                margin-left: 35px;
            }
            .contacts__instagram {
                cursor: pointer;
            }
            .contacts__phone {
                @include text($grey,16px,300);
                transition: color .7s linear;
            }
            .contacts__btn {
                padding: 14px 48px;
                border: 1px solid $yellow_1;
                background: transparent;
                @include text($grey,16px,600);
                transition: all .2s linear;

                cursor: pointer;

                &:hover{
                    background: $grey;
                    color: $yellow_1;
                    border-color: $grey;
                }
            }
        }
        
    }
    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.mobile_navigation{
    display: none;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 10000000;
    background: transparent;
    padding: 24px 34px;

    .navigation__logo{
        // max-width: 40px;
        position: absolute;
        top: 9px;
        left: 50%;
        transform: translateX(-50%);
    }

    .burger{
        position: relative;
        width: 30px;
        height: 20px;
        margin-left: auto;

        background: transparent;
        border: 0;
        cursor: pointer;

        &__line{
            position: absolute;
            left: 0;

            width: 100%;
            height: 2px;
            background-color: #000;

            transition: all .3s linear;

           &_first{
            top: 0;
           }

           &_second, &_third{
            top: 50%;
            transform: translateY(-50%);
           }

           &_fourth{
            bottom:0;
           }
        }

        &_active{
            .burger__line_first, .burger__line_fourth{
                opacity: 0;
            }

            .burger__line_second{
                transform: translateY(-50%) rotate(45deg);
                background-color: $yellow_1;
            }

            .burger__line_third{
                transform: translateY(-50%) rotate(-45deg);
                background-color: $yellow_1;
            }
        }

        
    }
    .burger:hover{
        .burger__line{
            background-color: $yellow_1;
        }
    }

    @media screen and (max-width: 1100px) {
        display: flex;
        
    }
}

.mb_bar_closed{
    top: -150vh !important;   
}

.mobile_bar{
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    background: $green_1;
    
    transition: all .5s linear;

    a{
        text-decoration: none;
    }
    @media screen and (max-width: 1100px) {
        display: flex;
        flex-direction: column;
    }

    .navbar__list{
        width: 100%;
        height: 100%;
        padding-top: 120px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .2s linear;

        .list__btn{
            padding: 13px 37px;
            border: none;
            @include text($grey,18px,600);
            margin-bottom: 80px;

            @media screen and (max-width: 800px){
                margin-bottom: 40px;
            }
        }

        .list__item {
            @include text(#fff,24px,300);
            position: relative;
            transition: all .2s linear;
            list-style: none;

            @media screen and (max-width: 500px){
                @include text(#fff,18px,300);
            }
        }

        .list__link{
            margin-bottom: 40px;
            transition: all .2s linear;
            &:last-child{
                li::after{
                    display: none;
                }
            }
        }

        .list__link-active{
            transition: all .2s linear;
            pointer-events: none;
            li{
                color: $grey;
            }
        }
        @media screen and (max-width: 800px){
            padding-top: 50px;
        }
        @media screen and (max-width: 500px){
            padding-top: 150px;
            justify-content: start;
        }

        @media screen and (max-width: 400px){
            padding-top: 110px;
            justify-content: start;
        }
    }

    .navbar__phone{
        transition: all .2s linear;
        @include text(#fff,26px,300);
        text-align: center;
        margin-bottom: 60px;

        @media screen and (max-width: 500px){
            @include text(#fff,18px,300);
            margin-top: auto;
            margin-bottom: 40px;
        }
    }

    .list__inst{
        img{
            width: 40px;

            @media screen and (max-width: 500px) {
                width: 30px;
            }
        }
        @media screen and (max-width: 500px){
            margin-bottom: 94px;
        }
        
    }
    
}

.bot_0{
    bottom: 0 !important;
}