@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "./fonts.scss";
@import './normalize.scss';
@import "./mixins.scss";
@import "./variables.scss";

@import "./animations.scss";
@import "./_header.scss";

@import "./modals.scss";

body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Bahnschrift",sans-serif;
}

.section{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  z-index: 1;
}

.section__title{
  @include text($black,48px,400);
  font-family: 'Bodoni', serif;
  font-style: italic;
  margin: 0;

  &-white{
    color: white;
  }
}

.section__text{
  @include text($grey,18px,300, 22px);

  &-white{
    color: white;
  }
}

.section__content{
  margin-top: 148px;
  flex-grow: 1;
}

.content__wrapper{
  padding-left: 140px;

  &-container{
    padding-right: 140px;
  }
}

.slider-arrow{
  &::after{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 23px 26px;
    background: $green_1;
    border-radius: 100%;
    border: 1px solid $green_1;

    transition: all .2s linear;
  }
  &:hover{
    &::after{
      background: #fff;
      color: $green_1;
    }
    
  }
}

.slider-next{
  &::after{
    margin-right: -52px;
  }
}

.slider-prev{
  &::after{
    margin-left: -52px;
  }
}

.intro{
  z-index: 1;

  .section__content{
    margin-top: 240px;
  }

  .intro__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .content__info {
      flex: 0 1 60%;
      .info__suptitle{
        @include text($grey,24px,300)
      }

      .info__title{
        @include text($grey,96px,400,86px);
        font-style: italic;
        font-family: 'Bodoni', serif;  
        margin: 22px 0px;
      }

      .info__subtitle{
        @include text($grey,24px);
        max-width: 386px;
        margin-bottom: 56px;
      }

      .info__btn{
        @include text($yellow_1,24px,600);
        border: none;
        padding: 18px 48px;
        background: $grey;
        transition: all .2s linear;
        cursor: pointer;
        margin-top: 56px;

        &:hover{
          background: $yellow_1;
          color: $grey;
        }
      }
    }
    .content__image {
      flex: 0 1 30%;
      padding-right: 220px;
      position: relative;

      .image_logo{
        height: 100%;
      }
      .image_dots{
        position: absolute;
        right: 0;
        z-index: -1;
      }
    }
  }

  .bottom_images{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    display: flex;
    justify-content: space-between;

    img{
      display: block;
      max-height: 380px;
    }
  }
}

.about_complex{
  right: -100vw;
  overflow-y: auto;
  z-index: 2;

  .place_dots{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;

    transform: translateY(-60px);

  }

  .places{
    margin-bottom: 83px;
  }

  .places__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;

    .content__slider {
      min-width: 0;
      flex: 0 1 57%;
      
      position: relative;

      .placesSlider {
        width: 100%;
        overflow: hidden;
      }
    }
    
    .content__info {
      flex: 0 1 38%;
      .section__text{
        margin-top: 20px;
      }

      .info__avocations{
        margin-top: 72px;
        .avocations__title{
          @include text($black,24px,400);
          font-family: 'Bodoni', serif;
          font-style: italic;
        }

        .avocations__list {
          display: flex;
          align-items: flex-start;
          // justify-content: space-between;
          max-width: 90%;
          flex-wrap: wrap;
          margin-top: 16px;

          .list__block{
            flex-direction: column;
          }

          .list__item {
            display: flex;

            flex: 0 1 49%;

            .item__block{
              width: 100%;
              display: flex;
              align-items: center;
              margin-bottom: 10px;
            }

            .item__img {
              margin-right: 13px;
            }
            .item__title {
              @include text($grey,18px,normal,90%)
            }
            .item__info {
              .item__gorge {
                margin-top: 16px;
                .gorge__item {
                  margin-bottom: 14px;
                  @include text($grey,16px,300,90%);
                }
              }
              
            }
            
          }
        }
      }
    }
  }

  //-------------------------------------------------------------------------

  .about_complex__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 95px;

    position: relative;

    .content__info{
      flex: 0 1 37%;

      .section__text{
        margin-top: 20px;
      }

      .info__constituents{
        margin-top: 32px;
  
        .constituents__title{
          @include text($black,24px,400);
          font-family: 'Bodoni', serif;
          font-style: italic;
        }

        .constituent__list{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 18px;
          max-width: 90%;

          .list__item{
            flex: 0 1 48%;
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .item__img{
              margin-right: 14px;
            }
          }
        }
      } 
    }

    .content__slider{
      position: relative;
      flex: 0 1 55%;
      min-width: 0;

      .aboutComplex{
        overflow: hidden;
      }

      img{
        width: 100%;
      }
    }
  }

  .bottom_images{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    display: flex;

    img{
      display: block;
      margin-right: 16px;
      max-height: 380px;
    }
  }
}

.rooms {
  right: -100vw;
  overflow-y: auto;
  z-index: 3;
  background: $green_1;

  .slider-arrow{
    &::after{
      background: #fff;
      color: $green_1;
      border: 1px solid #fff;
    }

    &:hover{
      &::after{
        background: $green_1;
        color: #fff;
      }
      
    }
  }

  .rooms__block{
    position: relative;
    min-height: 101vh;

    .rooms__container{
      padding-left: 140px;
      padding-right: 100px;
      padding-top: 168px;

      display: flex;
      justify-content: space-between;
    }

    .block__info {
      flex: 0 1 36%;
      .info__header {
        .header__suptitle {
          @include text(#fff,24px,normal);
          margin-bottom: 7px;
        }
        .header__subtitle {
          margin-top: 7px;
          @include text($yellow_1,16px,normal);
        }
      }

      .section__text {
        margin-top: 22px;
      }
      
      .info__set {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;

        .set__item {
          flex: 0 1 24%;
          .item__img {
            margin-bottom: 3px;
          }
          .item__text {
            @include text($yellow_1,16px,400,110%)
          }
        }
      }
      
      
      .bathroom {
        .bathroom__title {
          display: flex;
          align-items: center;
          margin-top: 32px;

          img{
            margin-right: 12px;
          }
          p{
            @include text($yellow_1,20px,400,140%)
          }
        }
        .bathroom__list {
          display: flex;
          align-items: center;
          margin-top: 20px;
          flex-wrap: wrap;
          max-width: 420px;

          .list__item {
            display: flex;
            align-items: center;
            flex: 0 1 50%;
            margin-bottom: 14px;

            .item__img {
              margin-right: 10px;
            }
            .item__text {
              @include text($yellow_1,16px,400,90%)
            }
          }
          
        }
      }

    }
   
    .block__slider{
      min-width: 0;
      position: relative;
      flex: 0 1 53%;

      .semiDeluxeRoom, .standartRoom, .deluxeRoom{
        overflow: hidden;
      }

      .room__check {
        position: absolute;
        bottom: 36px;
        left: -250px;
        z-index: 10;
        text-align: right;

        .check__info {
          padding: 20px 24px;
          padding-bottom: 16px;
          background: $green_2;
          color: #fff;
          text-align: left;

          .info__text {
            @include text(#fff,16px,300,140%);
          }
          .info__price {
            @include text(#fff,36px,400,140%);
            .price__rub{
              color: $yellow_1;
            }
          }
        }
        
        .check__btn {
          padding: 17px 48px;
          background: #fff;
          border: none;
          cursor: pointer;

          margin-top: 20px;
          @include text($black,24px,600);

          transition: all .2s linear;

          &:hover{
            background: $black;
            color: white;
          }
        }
      }
      
    }

    .dots{
      position: absolute;
      bottom: 13px;
      right: -100px;
    }

    .bottom_images{
      position: absolute;
      bottom: 0;
      right: 0;
  
      display: flex;
      align-items: flex-end;
  
      img{
        display: block;
        margin-left: 15px;
      }
    }

  }

  .semi_deluxe_room{
    background: $green_2;

    .check__info{
      background: $green_1 !important;
    }
  }
  
}

.restaurant {
  position: relative;
  background: #fff;
  z-index: 4;

  .restaurant__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content__slider{
      position: relative;
      min-width: 0;
      flex: 0 1 57%;

      .restaurantSlider{
        overflow: hidden;

        img{
          width: 100%;
        }
      }
    }

    .section__text{
      margin-top: 16px;
      max-width: 525px;
    }

    .content__info{
      flex: 0 1 37%;

      .restaurant__buttons {
        margin-top: 60px;
        .buttons__menu {
          @include button()
        }
  
        .buttons__bar {
          @include button($green_2);
          margin-left: 18px;
        }
      }
      
      
    }
  }
  .bottom_images{
      position: absolute;  
      bottom: 0;
      left: 0;
      z-index: -1;

      display: flex;

      img{
        display: block;
        margin-right: 16px;
      }
  }
}

.avocations{
  top: 0;
  background: white;
  z-index: 5;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .section__content{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
  }

  .avocations__content{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .avocations__list {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-grow: 1;
  
      // position: absolute;
      // bottom: 0;
  
      .list__item {
        flex: 0 1 16%;
  
        .item__name {
          @include text($grey,20px,400);
          margin-bottom: 15px;
        }
        .item__image {
          display: block;
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }
  
}

.map{
  top: 0;
  background: $green_1;
  z-index: 6;
  right: -100vw;
  overflow-y: auto;
  overflow-x: hidden;
  

  .section__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .map__content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .content__info{
      flex: 0 1 23%;
      padding-top: 42px;
      .info__list {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        .list__item {
          display: flex;
          margin-bottom: 48px;

          &:first-child{
            margin-bottom: 38px;
          }

          &:last-child{
            margin-bottom: 0;
          }

          .item__img {
            margin-right: 20px;
          }
          .item__text {
            @include text(#fff,24px,400);
            .text__numb{
              display: block;
              margin-top: 12px;
            }
          }

          .item__phone{
            @include text(#fff,36px,400);
          }

        }
      }
    }

    .content__map{
      display: block;
      flex: 0 1 70%;
      height: 65vh;
    }
  }

  .footer{
    padding-top: 30px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 50px;
      img{
        width: 100%;
      }
    }

    .footer__text{
      span{
        margin-right: 26px;
      }
      span, a{
        @include text(rgba(255,255,255,.7),14px,300);
        text-decoration: none;
      }
    }
  }
}